.btn {
    margin-right: 2rem;
    margin-top: 5rem;
    &,
    &:link,
    &:visited {
        font-weight: 600;
        text-decoration: none;
        padding: 1.5rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(black, .2);
    }

    &--white {
        background-color: $color-primary;
        color: #fff;

        &::after {
            background-color: $color-primary;
        }
    }

    &--green {
        background-color: $color-secondary;
        color: #fff;

        &::after {
            background-color: $color-secondary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}