.header {
    text-align: center;
    margin: 0 auto;

    p{
        @include respond(phone){
            padding: 0 1rem;
         }
    }

    &-background {
        position: absolute;
        top: 0;
        left: 0;


        &__img {
            width: 100%;
        }
    }

    .logo {
        margin: 7rem 0 5rem 0;
        text-align: center;

    }

    &__logo {
        @include respond(phone){
            width: 30%;
         }
    }

    &__buttons {
        @include respond(phone){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}