.main {
    margin-top: 12rem;

    @include respond(phone) {
        margin-top: 9rem;
    }

    &__heading {
        text-align: center;


    }

    p {
        @include respond(phone) {
            padding: 0 1.5rem;
        }
    }

    &__description {
        margin-top: 8rem;
        display: flex;

        @include respond(phone) {
            flex-direction: column;
            text-align: center;
        }

        &--img {
            margin-left: -5rem;

            @include respond(phone) {
                width: 70%;
                margin: 0;
            }
        }

        &--text {
            margin-left: 15rem;
            margin-top: 10rem;

            @include respond(phone) {
                text-align: center;
                margin: 5rem auto;
            }

            .computer-text {
                margin-bottom: 3rem;

                p {
                    padding-right: 20rem;

                    @include respond(phone) {
                        padding: 0;
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}